:root {
	--clr-primary-400: hsl(25, 97%, 53%);
	// --clr-secondary-700-07: hsl(216 12% 8% / 0.5);
	// --clr-secondary-700: hsl(216, 12%, 8%);
	// --clr-secondary-500: hsl(213, 19%, 18%);
	--clr-secondary-400: hsl(216, 12%, 54%);
	--clr-secondary-300: hsl(217, 12%, 63%);
	--clr-secondary-100: hsl(0, 0%, 100%);
	--ff-primary: 'Overpass', sans-serif;

	--clr-card-bg: hsla(213, 20%, 18%, 0.753);
	--clr-btn-bg: hsla(216, 12%, 54%, 0.1);
}
